.inline {
    display: inline;
  }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    /* the bottom margin is the negative value of the footer's height */
  }
  
  .tab1{
    tab-size: 2;
  }