<div class="col-lg-12 grid-margin stretch-card" style="padding-top: 20px;">
    <div class="row">
    <h1 style="text-align: center;font-size: 40px;">New Hires</h1>
    <div class="row" style="margin-top: 50px;" >
        <div class="col-sm-12" >
          <table class="table border mt-1" >
              <thead class="sticky-top">
              <tr style="background-color:#ffeecc">
                <th style="width: 200px;">Employee Id</th>
                  <th style="width: 200px;">Name</th>
                  <th style="width: 200px;">DOB</th>
                  <th style="width: 200px;">Email Id</th>
                  <th style="width: 200px;">Contact No.</th>
                  <th style="width: 200px;">Company</th>
                  <th style="width: 200px;">Department</th>
              </tr>
              </thead>
              <tbody>
                   <tr *ngFor="let data of newTableRows">
                    <td style="width: 200px;"> {{data.id}}</td>
                  <td style="width: 200px;"> {{data.first_name + " "+data.last_name}}</td>
                  <td style="width: 200px;"> {{data.date_of_birth}}</td>
                  <td style="width: 200px;"> {{data.organisation_email}}</td>
                  <td style="width: 200px;"> {{data.phone}}</td>
                  <td style="width: 200px;"> {{data.organisation}}</td>
                  <td style="width: 200px;"> {{data.department}}</td>
      
                  </tr> 
              </tbody>
              </table>
      
          </div><br>
        
      </div>
    </div>
    </div>
